#home-page {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 5% 10% 5% 50%;
     border : 5px solid rgba(201, 44, 228, 0.716); 
    background-color: rgba(201, 44, 228, 0.716);
    border-radius: 10%; 
}
body {
    background-image: url(../images/instagood.jpg) ;
    background-repeat:round
}

#home-page h1 {
    font-size: 100px;
    padding: 20px;
    margin-left: 5%;
}
#home-page p {
    color: black;
    font-size: 40px;
    margin-top: 20%;
    margin-bottom: 2%; 
}

#home-page #signup , #home-page #login{
    font-size: 36px;
    text-decoration: none;
    color: white ;
     font-family: cursive; 
    font-weight: 600;
}